:root {
    --bg: #212529;
    --surface: #343A40;
    --surface-hover: #495057;
    --text: #F8F9FA;
    --secondarytext: #CED4DA;
    --mutedtext: #ADB5BD;
    --button: #495057;
}


@keyframes carouselaround {
    from {
        transform: translateX(-50%);
    }
    to {
        transform: translateX(0);
    }
}

@keyframes slideUpAnimation {
    0% { transform: translateY(100px); opacity: 0; }
    100% { transform: translateY(0); opacity: 1; }
}

body {
    font-family: "Bitcount Prop Single", system-ui;
    background-color: var(--bg);
    color: var(--text);
    text-align: center;
}

html {font-size: 100%;} /* 16px */

h1 {font-size: 4.210rem; /* 67.36px */}

h2 {font-size: 3.158rem; /* 50.56px */}

h3 {font-size: 2.369rem; /* 37.92px */}

h4 {font-size: 1.777rem; /* 28.48px */}

h5 {font-size: 1.333rem; /* 21.28px */}

small {font-size: 0.750rem; /* 12px */}


header{
    animation-name: slideUpAnimation;
    animation-duration: 1.2s;
    animation-timing-function: ease;
    animation-iteration-count: 1;
    animation-direction: normal;
    animation-fill-mode: both;
    font-weight: 300;
    text-align: center;
    margin-top: 4rem;
    margin: auto;
    width: fit-content;
    padding: 1rem;
    background-color: var(--surface);
    border: 1px solid var(--surface-hover);
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
    border-radius: 10px;
}

h2 {
    animation-name: slideUpAnimation;
    animation-duration: 1.65s;
    animation-timing-function: ease;
    animation-iteration-count: 1;
    animation-direction: normal;
    animation-fill-mode: both;
    font-weight: 300;
    margin-top: 30vh;  
    margin-bottom: 30vh;
}

.Container {
    background-color: var(--surface);
    border-radius: 8px;
    padding: 8px;
    margin: 3rem;
}

#ProjectsTitle {
    background-color: var(--surface);
    border: 1px solid var(--surface-hover);
    padding: 1rem;
    width: fit-content;
    text-align: center;
    margin: auto;
    border-radius: 8px;
}
#ProjectArea {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 16px;
    margin-left: 2rem;
}

.ProjectCard {
    background-color: var(--surface);
    border-radius: 8px;
    width: fit-content;
    margin: auto;
    padding: 1rem;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 16px;
    aspect-ratio: 1 / 1;
    max-height: 40rem;
}

.ProjectCard img{
    border-radius: 8px;
    justify-content: center;
    object-fit: cover;
    height: 200px;
    margin: auto;
}

.ProjectCard a {
    color: var(--mutedtext);
    margin: 0 auto;
}

.ProjectCard h3 {
    background-color: var(--button);
    border-radius: 8px;
    width: fit-content;
    margin: 0 auto;
    padding: 14px;
}